body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
}

h1 {
    color: #333;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 200px; /* Uniform width for all buttons */
    transition-duration: 0.4s;
}


.button:hover {
    background-color: #45a049;
}